{% extends "base.html" %}
{% block content %}

    <h1>Gym Members Details</h1><br>
    
        {% for member in all_members %}
            <section class="members">
                <p>
                    Member ID: {{ member.id }}&nbsp;
                    <button class = "edit-button"><a href = "/members/{{ member.id }}/edit">Edit</a></button>
                    &nbsp;<b>{{ member.first_name }} {{ member.second_name }}</b> - 
                    {{ member.phone_no }}
                </p>
                <hr>
            </section>
        {% endfor %}
{% endblock %}