{% extends "base.html" %}
{% block content %}

<form action = "/members" method = "post">

    <div>
        <label for = "first_name">FIRST NAME</label><br>
        <input type = "text" id = "first_name" name = "first_name" required autofocus>
    </div><br>
    <div>
        <label for = "second_name">SECOND NAME</label><br>
        <input type = "text" id = "second_name" name = "second_name" required autofocus>
    </div><br>
    <div>
        <label for = "phone_no">PHONE NUMBER</label><br>
        <input type = "text" id = "phone_no" name = "phone_no" required>
    </div><br>

    <button class = "big-button" type = "submit">Add Member</button>

</form>

{% endblock %}