<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
        <title>Gym Member List</title>
    </head>
    <body>
    <h1>Gym Members Details</h1><br>
    
        <button class = "big-button"><a href="/members/new">New Member</a></button>

    {% for member in all_members %}

    <p class="members">
        {{ member.id }}
        <button class = "edit-button"><a href = "/edit">Edit</a></button>
        <b>{{ member.first_name }} {{ member.second_name }}</b>
        {{ member.phone_no }}
    </p>
    {% endfor %}
    </body>
</html>