<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
        <title>Gym Classes List</title>
    </head>
    <body>
    <h1>Gym Classes Details</h1><br>
    
    <button class = "big-button"><a href="/classes/new">New Class</a></button>

    {% for class in all_classes %}
    <ul>
        <li>
                <div class = "class-name"><b>{{ class.name }}</b></div>
                <br>Class ID: {{ class.id }}                
                <br>{{ class.date }}
                <br>{{ class.time }}
                <br>{{ class.duration }} mins<br>
                <button class = "big-button"><a href = "/schedule/{{ class.id }}">View Attendees</a></button>
                <button class = "big-button"><a href = "/classes/{{ class.id }}/edit">Edit</a></button>
        </li>
    </ul>
    {% endfor %}
    </body>
</html>