{% extends "base.html" %}
{% block content %}

    <h1>Gym Classes Details</h1><br>
    <button class = "big-button"><a href="/classes/new">New Class</a></button>
    <section class = "grid">
        {% for class in all_classes %}
            <div><b class = "class-name">{{ class.name }}</b>
                <br>{{ class.date }}
                <br>{{ class.time }}
                <br>{{ class.duration }} mins<br><br>
                <button class = "big-button"><a href = "/schedule/{{ class.id }}">View Attendees</a></button><br>
                <button class = "big-button"><a href = "/classes/{{ class.id }}/edit">Edit</a></button>
            </div>
        {% endfor %}
    </section>
{% endblock %}