{% extends "base.html" %}
{% block content %}

    <h1>This class is now fully booked</h1>
        <h2>{{ gym_class.name }} Attendees:</h2>
        <section class = "members">
            <table cellspacing = 0>
                {% for member in members %}
                <tr>
                <th class = "member-table-entry" >{{ member.first_name }} {{ member.second_name }} (ID{{ member.id }})</th>
                <th id = "member-table-entry-buttons"><a href = "/schedule/member/{{ member.id }}"><button class = "edit-button">View</button></a></th>
                </tr>
                {% endfor %}
            </table>
        </section>
{% endblock %}