{% extends "base.html" %}
{% block content %}

<section class="members-individual">
    <p>
        Member ID: {{ member.id }}<br><hr>
        <b>{{ member.first_name }} {{ member.second_name }}</b><br>
        {{ member.phone_no }}<br><hr>
            {% if member.active == True %}
                Active
            {% else %}
                Inactive
            {% endif %}<br><br>
        <a href = "/members/{{ member.id }}/edit"><button class = "edit-button">Edit</button></a>
    </p>
        <b>Classes booked:</b><br>
            {% for class in classes %}
                {% if class %}
                    <div class = "class-list-for-member">
                        {{ class.name }}<br>
                        {{ class.date }}<br>
                        {{ class.time }}<br>
                        {{ class.duration }} minutes<br>
                        <button class="edit-button">remove</button>
                    </div>
                {% else %}
                    <div class = "class-list-for-member">
                        No classes yet<br>
                        <a href = "/book"><button class="edit-button">book now</button></a>
                    </div>
                {% endif %}
            {% endfor %}

</section>

{% endblock %}