<form action = "/schedule" method = "post">

    <div>
        <label for = "member">GYM MEMBER</label>
        <select id = "member" name = "member_id">
        {% for member in members %}
            <option value = "{{ member.id }}"> {{ member.first_name }} {{ member.second_name }} </option>
        {% endfor %}
        </select>
    </div>

    <div>
        <label for = "class">CLASS</label>
        <select id = "class" name = "class_id">
        {% for gym_class in classes %}
            <option value = "{{ gym_class.id }}"> <b>{{ gym_class.name }}</b> ({{ gym_class.date }}, {{ gym_class.time }} </option>
        {% endfor %}
        </select>
    </div>

    <button type = "submit">Add Member to Class</button>

</form>