{% extends "base.html" %}
{% block content %}
<form action = "/schedule/new" method = "post">

    <div>
        <label for = "member">GYM MEMBER</label><br>
        <select id = "member" name = "member_id">
        {% for member in members %}
            <option value = "{{ member.id }}">{{ member.second_name }}, {{ member.first_name }} </option>
        {% endfor %}
        </select>
    </div><br>
    <div>
        <label for = "class">CLASS</label><br>
        <select id = "class" name = "class_id">
        {% for gym_class in classes %}
            <option value = "{{ gym_class.id }}"> {{ gym_class.name }} ({{ gym_class.date }}, {{ gym_class.time }}) </option>
        {% endfor %}
        </select>
    </div>
    <br>
    <button type = "submit" class = "big-button">Book In</button>

</form>

{% endblock %}