{% extends "base.html" %}
{% block content %}

    <h1>{{ gym_class.name }} Attendees:</h1>
    <section class = "members">
        <table cellspacing = 0>
            {% for member in members %}
                <tr>
                    <th class = "member-table-entry" >{{ member.second_name }}, {{ member.first_name }} (ID{{ member.id }})</th>
                    <th id = "member-table-entry-buttons"><a href = "/schedule/member/{{ member.id }}"><button class = "edit-button">View</button></a></th>
                    </tr>
            {% endfor %}
        </table>
    </section>
    
{% endblock %}