<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
        <title>Gym Schedule</title>
    </head>
    <body>
    <h1>Gym Schedule</h1><br>
    
    {% for item in schedule %}
    <ul>
        <li>
                <div class = "schedule-listing">
                <b>{{ item.gym_class.name }}</b>
                - Attendees: {{ item.member.first_name }} {{ item.member.second_name }}</div>
        </li>
    </ul>
    {% endfor %}
    </body>
</html>