body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    text-align: center;
    font-size: x-large;
    background-image: url("images/gym.png");
    color: white;
}

button {
    border: 0;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    background-color: crimson;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
}

ul a {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.big-button {
    width: 300px;
}

#button-active-members {
    width: 400px;
}

.logo {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Varela Round', sans-serif;

}

.class-name {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
}

.container {
    margin: 20px;
}

.edit-button {
    padding: 5px;
    border-radius: 3px;
    background-color: None;
}

select {
    border-color: crimson;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

input {
    border-color: crimson;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

#active {
    width: fit-content;
}


body a {
    text-decoration: None;
    color: white;
}

header {
    background-color: crimson;
}

.menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.menu > li {
    margin: 20px;
}

.menu > li > a {
    position: relative;
	top: 4px;
}

header a {
    text-decoration: None;
    font-weight: bold;
}

a:visited {
    text-decoration: None;
}

a:hover {
    text-decoration: None;
    color: black;
}

.grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid > div {
    background-color: rgb(34, 34, 34, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid slategray;
}

.members {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position:fixed;
    background-color: crimson;
    bottom:0;
    width:100%;
    height:10px;
}